# IDE / editor
.vscode/
.claude/settings.local.json

# Jupyter notebooks
sql_db/movement_script.ipynb
sql_db/Jira_data_export.ipynb
sql_db/claims_script.ipynb
sql_db/joins_sales_his.ipynb
sql_db/personal_notes_.md

# Folders
sql_db/visualizations/
sql_db/movement/
sql_db/claims/
__pycache__/

# JSON parameters
sql_db/ADF_parametres/*.json
